body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-div{
    color: #00e8ff;
}

.custom-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00e8ff;
}

.custom-div1{
    background-color: red;
}

.custom-div2{
    background-color: #00ff95;
}


.loader_2 {
    border: 6px solid #f3f3f3;
    border-top: 6px solid black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: loader_2_rotate 0.5s infinite linear;
}

@keyframes loader_2_rotate {
    from {
        transform: rotate(0deg) scale(1);
    } to {
          transform: rotate(360deg) scale(1);
      }
}